    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #232136;
        --color01: #232136;
        --color02: #232136;
        --color03: #e0def4;
        --color04: #e0def4;
        --color05: #e0def4;
        --color06: #e0def4;
        --color07: #e0def4;
        --color08: #eb6f92;
        --color09: #f6c177;
        --color10: #f6c177;
        --color11: #3e8fb0;
        --color12: #ea9a97;
        --color13: #9ccfd8;
        --color14: #c4a7e7;
        --color15: #f6c177;
    }
