@define-color bg #100e11;
@define-color fg #faf9f9;
@define-color gray1 #78c0d3;
@define-color gray2 #ae9bb0;
@define-color gray3 #7e7ece;
@define-color gray4 #e3cab5;
@define-color gray5 #e1afe1;
@define-color fg_bright #faf9f9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}